@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* src/components/CustomCursor.css */
.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease;
}

:root {
  /* Fonts */
  --font-primary: 'Poppins', sans-serif;
  --font-button: 'Space Grotesk', sans-serif;
  
  /* Background Colors */
  --bg-primary: #FFFFFF;
  --bg-secondary: #F6F6F6;
  
  /* Text Colors */
  --color-heading: #1B2559;
  --color-text: #4B5563;
  
  /* Button Colors */
  --color-button: #2563EB;
  
  /* Border Colors */
  --border-color: #D9D9D9;
}